html{
    background-color: #D6D58E;
}
header{
    font-family: 'Times New Roman';
    background-color: #042940;
    text-align: center;
    color: #ffff;
}
nav{
    background-color: #9FC131;
    padding: 10px;
    text-align: center;
}
nav a{
    color: #005C53;
    font-weight: bold;
    padding: 3px;
}
nav a:hover{
    color: #DBF227;
}
nav a:visited{
    color: #005C53;
}
.intro{
list-style-type: none;
}
.intro div{
    font-size: x-large;
    position: absolute;
    left: 180px;
    top: 250px;
}
.educacao{
border-right: #042940 solid 2px;
    padding-left: 10px;
    padding-right: 10px;
}
.edu{
    border-right: #042940 solid 2px;
    padding-left: 10px;
    padding-right: 10px;
}
.flex{
    display: flex;
    flex-direction: row;
}
.work{
    border-right: #042940 solid 2px;
    padding-left: 10px;
    padding-right: 10px;
}
.habilities{
    border-right: #042940 solid 2px;
 padding-left: 10px;
 padding-right: 10px;
}
footer{
    background-color: #9FC131;
}
.rodapé nav{
    display: inline-block;
    text-align: center;
}
h2{
    font-family: impact;
}
p{
    font-family: Arial;
}
@media screen and (max-width: 768px) {
    .flex{
        flex-direction: column;
    }
}